.winQueryBox {
    border: solid 1px #cccccc;
    border-radius: 7px;
    overflow: hidden;
}

.winQueryHeader {
    background-color: var(--wms-color-primary);
    padding: 7px 10px;
    color: #fff;
    font-weight: bold;
}

.winQueryContent {
    padding: 10px;
    height: 250px;
    overflow-y: auto;
}

.winQueryObjects ul,
.winQueryObjects li,
.winQueryColumnNames ul,
.winQueryColumnNames li {
    display: block;
}

    .winQueryObjects li i,
    .winQueryColumnNames li i,
    #dataColumnHolder input[type="checkbox"] {
        margin-right: 10px;
        display: inline-block;
    }

.winQueryObjects li,
.winQueryColumnNames li,
#dataColumnHolder div {
    color: #000000;
    padding: 7px 10px;
    border: solid 1px #cccccc;
    border-bottom: none;
}

    .winQueryObjects li:last-child,
    .winQueryColumnNames li:last-child,
    #dataColumnHolder div:last-child {
        border-bottom: solid 1px #cccccc;
    }

    .winQueryObjects li li {
        color: #990000;
        padding: 7px 20px;
    }

.winQuerySQLConsole {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

    .winQuerySQLConsole,
    .winQuerySQLConsole span {
        font-family: "Courier New", Arial;
    }

.winQueryColumnItem {
    background-color: #ffffff;
}

.sqlActiveQueryColumn {
    background-color: var(--wms-color-primary) !important;
    color: #ffffff !important;
}

.frmSqlColumnEdit {
    display: none;
}

.editableSqlCol .frmSqlColumnEdit {
    display: block;
}

.frmSqlColumnEdit {
    color: var(--wms-color-primary);
    background-color: #ffffff;
    border: solid 1px #cccccc;
    border-radius: 7px;
}

    .frmSqlColumnEdit i {
        padding-left: 5px;
    }

/*a.editSqlColumnName {
    float: right;
    display: none;
    color: var(--wms-color-primary);
}*/

.editableSqlCol {
    background-color: #efefef;
}

    .editableSqlCol a.editSqlColumnName {
        /*display: none; */
        display: inline-block;
    }

.sqlActiveQueryColumn a.editSqlColumnName {
    color: #ffffff;
}

.sqlColInf {
    color: #636363;
    font-size: 11px;
}

    .sqlColInf .bigint {
        color: blue;
    }

#dataConditionHolder .row {
    padding: 5px;
    border-bottom: solid 1px #cccccc;
    background-color: #ffffff;
}

.sqlGroupConditions {
    color: #ffffff;
    float: right;
    /*display: inline-block;*/
}

    .sqlGroupConditions a,
    .sqlGroupConditions a:link,
    .sqlGroupConditions a:active,
    .sqlGroupConditions a:hover,
    .sqlGroupConditions a:focus,
    .sqlGroupConditions a:visited {
        color: var(--wms-color-primary);
        font-weight: bold;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #ffffff;
        border: solid 1px #ffffff;
        border-radius: 7px;
    }

input.btnExecuteSqlQuery {
    background-color: var(--wms-color-primary) !important;
    color: #ffffff !important;
    background-image: none !important;
    float: right;
    font-weight: bold;
}

.sqlGrpBrCondition {
    background-color: #ffd800;
    text-align: center;
}

.sqlBtnConditionAction {
    text-align: right;
}

.themeWmsSqlQueryPopup {
    position: fixed;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

#btnCloseSqlQueryPopup {
    float: right;
    margin-top: 3px;
    cursor: pointer;
}

    #btnCloseSqlQueryPopup i {
        position: static;
        font-size: 20px;
    }

.themeWmsSqlQueryPopup .themeWmsPopupContent {
    display: block;
    width: 80%;
}

#btnCloseSqlTitlePopup,
#btnCloseSqlNotificationPopup {
    font-size: 20px;
    position: relative;
    float: right;
    right: 23px;
    top: -9px;
}

.queryBuilderScheduleInterval {
    border: solid 1px #cccccc;
    box-shadow: 0px 0px 5px #636363;
    border-radius: 7px;
    display: inline-block;
    overflow: hidden;
}

    .queryBuilderScheduleInterval div {
        display: table-cell;
        background-color: #ffffff;
        padding: 5px 10px;
        border-left: solid 1px #cccccc;
    }

        .queryBuilderScheduleInterval div:first-child {
            border-left: none;
        }

        .queryBuilderScheduleInterval div.qbInteralSelected {
            background-color: var(--wms-color-primary);
            color: #ffffff;
        }

#themeQueryBuilderSetNotification .themeWMSPopupLabel {
    width: 110px;
    vertical-align: middle;
    line-height: 12px;
    display: inline-block;
}

.queryBuilderScheduleDay,
.queryBuilderScheduleWeek {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .queryBuilderScheduleDay div,
    .queryBuilderScheduleWeek div {
        margin-left: 10px;
        display: inline-block;
    }

    .queryBuilderScheduleDay i,
    .queryBuilderScheduleDay i.fas,
    .queryBuilderScheduleDay i.far,
    .queryBuilderScheduleWeek i,
    .queryBuilderScheduleWeek i.fas,
    .queryBuilderScheduleWeek i.far {
        margin-right: 5px;
        color: var(--wms-color-primary);
        font-size: 16px;
    }

        .queryBuilderScheduleDay i.far {
            color: #cccccc;
        }

    .queryBuilderScheduleDay div:first-child {
        margin-left: 0px;
    }

.divQbFormRow {
    margin-bottom: 10px;
}

#themeQueryBuilderSetNotification .themeWmsPopupContentBody div.themeWMS_ctrl input {
    width: 375px !important;
    box-shadow: none;
    border-top: none;
    border-radius: 0px;
    border-right: none;
    border-left: none;
}

#themeQueryBuilderSetNotification .themeWMS_ctrl {
    border-radius: 0px;
    background-color: #ffffff;
}

    #themeQueryBuilderSetNotification .themeWMS_ctrl i {
        color: var(--wms-color-primary);
    }

#divQbInterval .themeWMSPopupLabel {
    position: relative;
    top: -12px;
}
