body {
}

.wms-srv-grid-action .switch
{
    bottom:12px;
}
.userConfigInputBox {
    margin-left: 25px;
}
.userConfiGridAddNew {
    border: 1px solid #cfcdcf;
    padding: 12px;
}
.gridBtnNewUserConfi {
  
    margin-top: -25px;
    margin-left: 85%;
    margin-bottom: 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

 .switch input {
        opacity: 0;
        width: 0;
        height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 21px;
    right: 3px;
    bottom: 14px;
    background-color: #ff462b;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 15px;
        left: -7px;
        right: 0px;
        bottom: 0.5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        margin-right: 16px;
}


.slider1:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 15px;
    left: -8px;
    right: 0px;
    bottom: 0.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 10px 10px 5px 12px lightblue;
    margin-right: 16px;
}

input:checked + .slider {
    background-color: #0bdb2d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}